<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.my.lfy.api.transaction.mapper.CommonMapper">
    <update id="updateAddressById">
        update public.pat_info
        set address = #{address}
        where id = #{patId}
    </update>

    <select id="queryNameById" resultType="java.lang.String">
        select name
        from public.pat_info
        where id = #{patId}
        limit 1
    </select>
    <select id="queryParaValue" resultType="java.lang.String">
        select para_value from sys_param_value where para_code = #{paraCode}
    </select>


</mapper>