<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.my.lfy.api.transaction.mapper.CommonMapper">
    <update id="updateAddressById">
        update public.pat_info
        set address = #{address}
        where id = #{patId}
    </update>

    <select id="queryNameById" resultType="java.lang.String">
        select name
        from public.pat_info
        where id = #{patId} limit 1
    </select>
    <select id="queryParaValue" resultType="java.lang.String">
        select para_value
        from sys_param_value
        where para_code = #{paraCode}
    </select>
    <select id="queryList" resultType="java.lang.String">
        select para_value from sys_param_value
        <where>
            <if test='params != null and params.size() > 0'>
                para_code in
                <foreach collection="params" index="index" item="item" open="(" separator="," close=")">
                    #{item}
                </foreach>
            </if>
        </where>
    </select>
    <select id="queryListModel" resultType="java.lang.String">
        select para_value from sys_param_value
        <where>
            <if test='model.getCode() != null and model.getCode().size() > 0'>
                para_code in
                <foreach collection="model.getCode()" index="index" item="item" open="(" separator="," close=")">
                    #{item}
                </foreach>
            </if>
        </where>
    </select>

    <select id="queryPatientInfo" resultType="java.lang.String">
        select CARDNO from BSOFT.VIEW_PATIENTINFO
        <where>
            PATIENTTYPE = '2' and PAYKINDCODE &lt;&gt; '1000' and CARDNO in
            <foreach collection="cardNoList" item="item" index="index" open="(" separator="," close=")">
                #{item}
            </foreach>
        </where>
    </select>

    <select id="getBookSchedulingSeq" resultType="java.lang.Long" useCache="false" flushCache="true">
        SELECT nextval('seq_book_scheduling'::regclass)
    </select>

    <select id="getBookMasterSeq" resultType="java.lang.Long">
        SELECT nextval('book_master_id_seq'::regclass)
    </select>

</mapper>